body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u4 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:345px;
  top:71px;
  width:110px;
  height:499px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:499px;
}
#u6 {
  position:absolute;
  left:2px;
  top:242px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:218px;
  top:170px;
  width:363px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:218px;
  top:410px;
  width:363px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:600px;
  top:128px;
  width:131px;
  height:135px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:135px;
}
#u12 {
  position:absolute;
  left:2px;
  top:60px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:600px;
  top:368px;
  width:131px;
  height:135px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:135px;
}
#u14 {
  position:absolute;
  left:2px;
  top:60px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:70px;
  top:128px;
  width:131px;
  height:135px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:135px;
}
#u16 {
  position:absolute;
  left:2px;
  top:60px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:70px;
  top:368px;
  width:131px;
  height:135px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:135px;
}
#u18 {
  position:absolute;
  left:2px;
  top:60px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:620px;
  top:170px;
  width:90px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u20 {
  position:absolute;
  left:0px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:620px;
  top:410px;
  width:90px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u22 {
  position:absolute;
  left:0px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:90px;
  top:170px;
  width:90px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u24 {
  position:absolute;
  left:0px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:90px;
  top:410px;
  width:90px;
  height:50px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
}
#u26 {
  position:absolute;
  left:0px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  color:#2F4169;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u29 {
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:600px;
  top:0px;
  width:200px;
  height:50px;
  color:#2F4169;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u31 {
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:50px;
  color:#2F4169;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u33 {
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:50px;
  color:#2F4169;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u35 {
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:70px;
  top:240px;
  width:131px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:600px;
  top:240px;
  width:131px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:70px;
  top:480px;
  width:131px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:600px;
  top:480px;
  width:131px;
  height:13px;
  font-size:10px;
  color:#FFFFFF;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:13px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:20px;
  top:70px;
  width:760px;
  height:510px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:510px;
}
#u45 {
  position:absolute;
  left:2px;
  top:247px;
  width:756px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:750px;
  top:70px;
  width:30px;
  height:30px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u47 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:50px;
  top:100px;
  width:630px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:30px;
}
#u49 {
  position:absolute;
  left:0px;
  top:6px;
  width:630px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:60px;
  top:160px;
  width:330px;
  height:60px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:22px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:340px;
  top:220px;
  width:330px;
  height:60px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:22px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:60px;
  top:445px;
  width:610px;
  height:40px;
}
#u54_input {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:40px;
  background-image:;
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#2F4169;
  text-align:left;
}
#u55 {
  position:absolute;
  left:60px;
  top:280px;
  width:330px;
  height:60px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:60px;
}
#u56 {
  position:absolute;
  left:2px;
  top:22px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:680px;
  top:450px;
  width:60px;
  height:30px;
  color:#FFFFFF;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u58 {
  position:absolute;
  left:0px;
  top:8px;
  width:60px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:79px;
  top:170px;
  width:292px;
  height:20px;
  color:#2F4169;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:20px;
}
#u60 {
  position:absolute;
  left:0px;
  top:2px;
  width:292px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:359px;
  top:230px;
  width:292px;
  height:20px;
  color:#2F4169;
  text-align:right;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:20px;
}
#u62 {
  position:absolute;
  left:0px;
  top:2px;
  width:292px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:79px;
  top:290px;
  width:292px;
  height:20px;
  color:#2F4169;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:20px;
}
#u64 {
  position:absolute;
  left:0px;
  top:2px;
  width:292px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:50px;
  color:#FFFFFF;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u67 {
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:340px;
  top:340px;
  width:330px;
  height:60px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:60px;
}
#u69 {
  position:absolute;
  left:2px;
  top:22px;
  width:326px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:359px;
  top:350px;
  width:292px;
  height:20px;
  color:#2F4169;
  text-align:right;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:20px;
}
#u71 {
  position:absolute;
  left:0px;
  top:2px;
  width:292px;
  visibility:hidden;
  word-wrap:break-word;
}
