body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u2 {
  position:absolute;
  left:2px;
  top:292px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  color:#2F4169;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u5 {
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:600px;
  top:0px;
  width:200px;
  height:50px;
  color:#2F4169;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u7 {
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:50px;
  color:#2F4169;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u9 {
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:50px;
  color:#2F4169;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u11 {
  position:absolute;
  left:0px;
  top:11px;
  width:200px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:270px;
  top:60px;
  width:260px;
  height:40px;
  color:#FFFFFF;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
}
#u13 {
  position:absolute;
  left:0px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:100px;
  top:170px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:260px;
  top:190px;
  width:50px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:300px;
  top:380px;
  width:50px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:430px;
  top:490px;
  width:50px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:520px;
  top:210px;
  width:50px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:690px;
  top:150px;
  width:50px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:10px;
  top:560px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:320px;
  top:110px;
  width:180px;
  height:100px;
  color:#2F4169;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:100px;
}
#u29 {
  position:absolute;
  left:2px;
  top:15px;
  width:176px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:340px;
  top:170px;
  width:140px;
  height:30px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u31 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:120px;
  top:170px;
  width:160px;
  height:160px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u33 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:320px;
  top:370px;
  width:160px;
  height:160px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u35 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:550px;
  top:130px;
  width:160px;
  height:160px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:160px;
}
#u37 {
  position:absolute;
  left:2px;
  top:72px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
